<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Plannr Email Verification</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <h1>New User woohoo!!</h1>
  <div class="divider"></div>
  <p> User with email <%= @user.email %> has been created and verified! </p>
  <p> Send them a welcome email if you feel they're worthy of it! </p>
  <p> Customer Service FTW!!! </p>
</body>
</html>
