<% content_for :body_content do %>
  <h3>Password Reset Instructions</h3>
  <div class="divider"></div>
  <p><b>To complete your password reset, you must:</b></p>
  <p> <%= link_to "Click here", @url %> to reset your password. </p>
  <p> If you need assistance, please contact us at <a href="mailto:support@yourplannr.com">support@yourplannr.com</a>. </p>
  <p> Thanks for choosing Plannr! </p>
  <p> The Plannr Gang </p>
<% end %>

<%= render partial: "mailer_partials/shell", locals: { title: "Reset password instructions" } %>
