<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Plannr Reset Password Instructions</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
  <h1>Password Reset Instructions</h1>
  <div class="divider"></div>
  <p><b>To complete your password reset, you must:</b></p>
  <p> <%= link_to "Click here", @url %> to reset your password. </p>
  <p> If you need assistance, please contact us at <a href="mailto:support@yourplannr.com">support@yourplannr.com</a>. </p>
  <p> Thanks for choosing Plannr! </p>
  <p> The Plannr Gang </p>
</body>
</html>
