<% content_for :body_content do %>
  <h3>You've been invited to join <%= @company.name %>!</h3>
  <div class="divider"></div>
  <p> To sign up, <a href="<%= @url %>">click here</a>. </p>
  <p> We're really pumped for you to start using the platform.  If you have any questions please email us at <a href="mailto:support@yourplannr.com">support@yourplannr.com</a>. </p>
  <p> Cheers </p>
  <p> The Plannr Gang </p>
<% end %>

<%= render partial: "mailer_partials/shell", locals: { title: "Invited" } %>
