<% content_for :body_content do %>
  <h3>Verification Instructions</h3>
  <div class="divider"></div>
  <p>We want to verify that this is your email.  Verifying this address will let you access Plannr and reset your password if necessary. Please click the following link to continue:</p>
  <p> <%= link_to "Click here to verify email", @url %> </p>
  <p> If you feel you've gotten this email as a mistake, you can ignore this email. </p>
  <p> Cheers </p>
  <p> The Plannr Gang </p>
<% end %>

<%= render partial: "mailer_partials/shell", locals: { title: "Verification Instructions" } %>
