<!-- HEADER -->
<table class="head-wrap" bgcolor="#00aaa1">
  <tr>
    <td></td>
    <td class="header container" >

        <div class="content">
        <table bgcolor="#00aaa1">
          <tr>
            <td>
              <a href="http://app.yourplannr.com" target="_blank">
                <%= image_tag "Plannr-Pure.png", class: "logo_img" %>
              </a>
            </td>
          </tr>
        </table>
        </div>

    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->
