<!-- social & contact -->
<table class="social" width="100%">
  <tr>
    <td>

      <!-- column 1 -->
      <table align="left" class="column">
        <tr>
          <td>

            <h5 class="">Connect with Us:</h5>
            <p>
              <a href="https://www.facebook.com/yourplannr" target="_blank"><%= image_tag "facebook_icon.svg", class: "social_img" %></a>
              <a href="https://twitter.com/yourplannr" target="_blank"><%= image_tag "twitter_icon.svg", class: "social_img" %></a>
              <a href="https://www.linkedin.com/company/plannr" target="_blank"><%= image_tag "linkedin_icon.svg", class: "social_img" %></a>
            </p>
          </td>
        </tr>
      </table><!-- /column 1 -->

      <!-- column 2 -->
      <table align="left" class="column">
        <tr>
          <td>

            <h5 class="">Contact Info:</h5>
    Email: <strong><a href="emailto:support@yourplannr.com">support@yourplannr.com</a></strong></p>

          </td>
        </tr>
      </table><!-- /column 2 -->

      <span class="clear"></span>

    </td>
  </tr>
</table><!-- /social & contact -->
