<p id="notice"><%= notice %></p>

<%= react_component("TaskForm",
                    action: task_path,
                    auth_param: request_forgery_protection_token,
                    auth_token: form_authenticity_token,
                    submit_button_text: "Update",
                    task: @task,
                    route_verb: "PATCH",
                    method: "POST",
                    form_id: "task_edit"
    )  %>

<%= link_to 'List', tasks_path %> |
<%= link_to 'Show', @task %>


