<p id="notice"><%= notice %></p>

<%= react_component("TaskForm",
                    action: tasks_path,
                    auth_param: request_forgery_protection_token,
                    auth_token: form_authenticity_token,
                    model: @task,
                    route_verb: "POST",
                    method: "POST",
                    form_id: "task_create",
                    submit_button_text: "Create",
                    cancel_button_text: "Cancel",
                    hide_submit_button: "false",
                    hide_cancel_button: "false"
    )  %>

<%= link_to 'List', tasks_path %>