<p id="notice"><%= notice %></p>

<%= react_component("TaskForm",
                    action: tasks_path,
                    auth_param: request_forgery_protection_token,
                    auth_token: form_authenticity_token,
                    submit_button_text: "Create",
                    model: @task,
                    route_verb: "POST",
                    method: "POST",
                    form_id: "task_create"
    )  %>

<%= link_to 'List', tasks_path %>