<p id="notice"><%= notice %></p>

<%= react_component("TaskForm",
                    action: tasks_path,
                    authToken: form_authenticity_token,
                    model: @task,
                    routeVerb: "POST",
                    primaryButtonText: "Create",
                    secondaryButtonText: "Cancel",
                    secondaryButtonVisible: true,
                    secondaryButtonHref: tasks_path)  %>

<%= link_to 'List', tasks_path %>

