<p id="notice"><%= notice %></p>

<%= react_component("TaskForm",
                    action: tasks_path,
                    auth_param: request_forgery_protection_token,
                    auth_token: form_authenticity_token,
                    model: @task,
                    routeVerb: "POST",
                    method: "POST",
                    formId: "task_create",
                    primaryButtonText: "Create",
                    secondaryButtonText: "Cancel",
                    secondaryButtonVisible: true,
                    secondaryButtonHref: tasks_path,
                    showButtonList: true
    )  %>

<%= link_to 'List', tasks_path %>