.dropdown-menu-right {
  background: $left_menu_back;
  >li>a {
    color: $white-three-fourths;
  }
  .divider {
    background-color: $white-quarter;
  }
}
.dropdown-toggle {
	background: transparent;
	&:hover {
		background: transparent;	
	}
	.btn-group.open & {
		background: transparent;
	}
}
