.header {
	@include linear-gradient(left, $plannr-green, $plannr-blue);
	display: flex;
  justify-content: space-between;
	border-bottom: 5px solid $white-quarter;
  height: $dashboard-header-height;
}
