<%= react_component('EventActionButton', path:new_event_path, prerender: true) %>

<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
<h3>Test 1</h3>
