default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: plannr-app_development

test:
  <<: *default
  database: plannr-app_test

staging:
  <<: *default
  database: plannr-app_staging
  username: <%= Rails.application.secrets.username %>
  password: <%= Rails.application.secrets.password %>
  host: /tmp

production:
  <<: *default
  database: plannr-app_production
  username: plannr-dashboard
  password: <%= ENV['PLANNR-DASHBOARD_DATABASE_PASSWORD'] %>
