.Autocomplete {
  width: 100%;
  position: relative;
}

.CompactAutocomplete {
  @extend .Autocomplete;
}

.Autocomplete-input {
  @extend .FormInput-field;
}

.CompactAutocomplete-input {
  @extend .CompactFormInput-field
}

.Autocomplete-results {
  position: absolute;
  width: 100%;
  z-index: $autocomplete-results-z-index;
  &.hidden {
    display: none;
  }
}

.Autocomplete-resultsItem {
  cursor: pointer;
  background-color: $header-bg;
  color: $white-three-fourths;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  &:hover {
    background-color: $plannr-green;
  }
}

.CompactAutocomplete-resultsItem {
  @extend .Autocomplete-resultsItem;
  @include font($body-1-font, normal, 0);
}

.Autocomplete-picked {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Autocomplete-edit {
  display: flex;
  justify-content: flex-end;
  font-size: em(8px);
  opacity: 0.5;
}
