.UserInvitationTable {
  width: 100%;
  margin: 50px auto;

  & th {
    opacity: 0.5;
    padding-bottom: 20px;

  }

  & tr {
  }

  & td {
    text-align: center;
    padding-bottom: 20px;
    &.disabled {
      display: none;
    }
  }
}

.UserInvitationTable--is-pending {
  opacity: .5;
}

.UserInvitationTable-resend,
.UserInvitationTable-admin {
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}
