// Main Colors
$plannr-green: #00aaa1;
$plannr-teal: #518eaa;
$plannr-blue: #606FAD;
$plannr-main-bg: #3A4042;
$plannr-secondary-bg: #2D2F30;

// Secondary Colors
$white-half: rgba(255, 255, 255, 0.5);
$white-quarter: rgba(255, 255, 255, 0.25);
$white-three-fourths: rgba(255, 255, 255, 0.75);
$black-half: rgba(0, 0, 0, 0.5);
$black-quarter: rgba(0, 0, 0, 0.25);
$black-three-fourths: rgba(0, 0, 0, 0.75);
