// Main Colors
$plannr-green: #00aaa1;
$plannr-teal: #518eaa;
$plannr-blue: #606FAD;
$body-bg: #f9f9f9;

// Secondary Colors
$white-half: rgba(255, 255, 255, 0.5);
$white-quarter: rgba(255, 255, 255, 0.25);
$white-three-fourths: rgba(255, 255, 255, 0.75);
$black-half: rgba(0, 0, 0, 0.5);
$black-quarter: rgba(0, 0, 0, 0.25);
$black-three-fourths: rgba(0, 0, 0, 0.75);

// Button Colors
$button-hover: rgba(0,170,161,0.75);

// Avatar
$avatar-bg: #767676;

// Page Header
$header-bg: #3A4042;
