$logo-name: url(logo.svg);
$contact-tile-url: url(Contact_Tile.svg);
$task-tile-url: url(Task_Tile.svg);
$vendor-tile-url: url(Vendor_Tile.svg);
$attachment-tile-url: url(Attachment_Tile.svg);
$arrow-tile-hover-url: url(Arrow_Tile_Hover.svg);
$create-event-url: url(create_event_icon.svg);
