$logo-name: url(logo.svg);
$contact-tile-url: url(Contact_Tile.svg);
$task-tile-url: url(Task_Tile.svg);
$vendor-tile-url: url(Vendor_Tile.svg);
$attachment-tile-url: url(Attachment_Tile.svg);
$arrow-tile-hover-url: url(Arrow_Tile_Hover.svg);
$create-event-url: url(hex-create_event.svg);
$create-contact-url: url(hex-create_contact2.svg);
$create-vendor-url: url(hex-create_vendor.svg);
$create-task-url: url(hex-create_task.svg);
$create-attachment-url: url(hex-create_attachment.svg);
$back-arrow-url: url(arrow-black.svg);
$close-url: url(x-black.svg);
