$line-height-factor: 1.4;

//font sizes
$display-font: 34px;
$headline-font: 24px;
$title-font: 20px;
$subheader-font: 16px;
$body-2-font: 14px;
$body-1-font: 14px;
$caption-font: 12px;
$button-font: 14px;

//media query sizes
$small-screen: 768px;

//metrics
$size-increment: 8px;
$grid-increment: $size-increment * 8;

//Input sizes
$input-ptop: $size-increment * 4;
$input-pbottom: $size-increment;
$input-text-height: ($subheader-font + $caption-font)*1.4;
$input-height-with-label: $input-ptop + $input-text-height + $size-increment*3;

$input-height: $subheader-font*1.4;

$input-field-pbottom: $size-increment;


//button sizes
$btn-width-default: 88px;
$btn-height-default: 36px;
$btn-font-size: 14px;
$btn-action-size: 56px;

//left nav
$left-nav-width: 265px;
$left-nav-header-height: 64px;


//page header
$page-header-height: 168px;

//form
$form-container-width: $grid-increment * 7;
