//metrics
$size-increment: 8px;
$grid-increment: $size-increment * 8;


//font
$line-height-factor-default: 1.4;

$default-font-size: 16px;
$input-padding-vertical: 16px;
$input-divider: 8px;
$font-size-default-computed: $default-font-size * $line-height-factor-default;
$input-height-computed: ($font-size-default-computed + ($input-padding-vertical*2)) + 1;


//button sizes
$btn-width-default: 88px;
$btn-height-default: 36px;
$btn-font-size: 14px;

//left nav
$left-nav-width: 265px;
$left-nav-header-height: 64px;


//page header
$page-header-height: 168px;
// $page-header-left-pad: 64px;
// $page-header-name-size: 34px;
// $page-header-name-weight: 300;
// $page-header-name-lh: 48px;


