$main-content-z-index: 2000;
$calendar-z-index: 4000;
$autocomplete-results-z-index: 4000;
$page-header-z-index: 5000;
$navigation-menu-z-index: 8000;
$dialog-overlay-z-index: 9999;
$dialog-box-z-index: 10000;
