$start_grad: #00aaa1;
$end_grad: #606FAD;
$left_menu_back: #2D2F30;
$right_menu_back: #3A4042;
$menu-icon: #00aaa1;
$menu-item-active: #00aaa1;
$white-half: rgba(255, 255, 255, 0.5);
$white-quarter: rgba(255, 255, 255, 0.25);
$white-three-fourths: rgba(255, 255, 255, 0.75);
$black-half: rgba(0, 0, 0, 0.5);
$black-quarter: rgba(0, 0, 0, 0.25);
$black-three-fourths: rgba(0, 0, 0, 0.75);

