<div class="header">
  <div class="content">
    <div class="logo">
    </div>
  </div>
</div>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "sunny@yourplannr.com" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
    </div>

    <button type="submit" class="btn btn-default btn-full">
      <div class="login-svg">
      </div>
    </button>
  <% end %>
</div>

<div class="main-footer">
  POWERED<b>BY</b> PLANNR
</div>
