.AppContainer {
  display: flex;
  flex-flow: row wrap;
  >* {
    flex: 1 100%;
    padding: 20px;
  }
}

.AppContainer-header {
  background: linear-gradient(to right, #00BFA5, #7E57C2);
}

.AppContainer-content {
  padding-top: 50px;
}

.AppContainer-message {
  color: red;
}
