.EventsTableContainer {
  width: 90%;
}

.EventsTable-actions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: $size-increment*4 $size-increment * 6;
  display: flex;
}

.Actions-search {
  display: flex;
  align-items: center;
}

.Actions-searchInput {
  padding-left: 32px;
  width: 500px;
}

.EventsTable-row {
  padding-top: $size-increment * 4;
  margin-left: $size-increment * 6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.EventsTable-rowContent {
  padding: $size-increment*2
}

.EventsTable-rowHeader {
  @include font($headline-font, 600, 0);
  color: $black-half;
}

