.EventHomeTileContainer {
  display: flex;
  flex-flow: row wrap;
  padding-left: $size-increment*3;
}

.EventHome-row {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  >* {
    flex: 1;
  }
}
