.EventDashboardContainer {
  display: flex;
  flex-flow: column wrap;
}

.EventDashboard-router {
  background-color: $event-router-bg;
  min-height: 800px;
}

.EventDashboard-event {
  position: relative;
  padding: $size-increment*3 $size-increment*8 0 $size-increment*11;
  background-color: $header-bg;
  overflow: hidden;
  color: rgba(255,255,255,0.87);
  max-height: 500px;
  transition: all 500ms;
  opacity: 1;
  &.collapse {
    padding: 0;
    max-height: 0px;
    opacity: 0;
  }
}

.EventDashboard-navContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  background-color: $header-bg;
  height: 70px;
}
