.EventContainer {
  display: flex;
  position: relative;
  height: 100%;
}

.Edit-btn {
  display: flex;
  justify-content: flex-end;
}

.Event-client {
  width: 250px;
}

.Info-header {
  opacity: 0.5;
  @include font($caption-font, normal, 0);
}

.Info-content {
  @include font($body-1-font, normal, 0);
}
