.Event-infoContainer {
  display: flex;
  position: relative;
  height: 100%;
  padding: $size-increment*3 $size-increment*8 $size-increment*4 $size-increment*11;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.Edit-btn {
  display: flex;
  justify-content: flex-end;
}

.Event-client {
  width: 250px;
}

.Info-header {
  opacity: 0.5;
  @include font($caption-font, normal, 0);
}

.Info-content {
  @include font($body-1-font, normal, 0);
}

.Event-descriptionContainer {
  padding: $size-increment*2 $size-increment*8 $size-increment*4 $size-increment*11;
}

.Event-descTitle {
  @extend .Info-header;
  padding-bottom: $size-increment;
}

.Event-desc {
  @include font($body-1-font, normal, 0);
}


