.InviteUsersContainer {
  margin: auto;
  &-form {
    margin: auto;
    width: 500px;
    display: none;
    &.is-visible {
      display: block;
    }
  }
}

.InviteUsersContainer-list {
  margin: auto;
  width: 80%;
}
