.LoginContainer {
  display: flex;
  flex-flow: row wrap;
  >* {
    flex: 1 100%;
    padding: 20px;
  }
}

.LoginContainer-header {
  background: linear-gradient(to right, #00BFA5, #7E57C2);
}

.LoginFormContainer {
  padding-top: 50px;
  width: 500px;
  margin: auto;
}
