.MainContainer {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  background-color: $body-bg;
}

.MainContainer-content {
  padding: $size-increment;
  z-index: 5;
  position: relative;
  margin-top: $page-header-height;
}
