.MainContainer-content {
  padding-top: 64px;
  height: 100%;
}

.MainContainer {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 100%;
  background-color: $body-bg;
  z-index: $main-content-z-index;
}
