.MainContainer {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0; left: 0;
  bottom: 100%;
  background-color: $body-bg;
  z-index: 50;
}

.MainContainer-content {
  padding: $size-increment;
  margin-top: $page-header-height;
}

.MainContainer-pageHeader {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: $page-header-height;
  background-color: $header-bg;
  display: flex;
  flex-flow: row wrap;
}
