.MenuHeaderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $plannr-green;
  padding: $size-increment * 4;
}

.MenuHeader-logo {
  @include svg($logo-name, 64px);
}

.MenuHeader-title {
  padding-left: $size-increment*2;
  color: $white-three-fourths;
}

.MenuHeader-mainTitle {
  @include font($subheader-font, 600, 0);
}

.MenuHeader-subTitle {
  @include font($caption-font, 100, 50);
}
