.MenuHeaderContainer {
  width: 100%;
  height: $grid-increment * 3;
  background-color: $plannr-green;
  padding: $size-increment * 4;
}

.MenuHeader-name,
.MenuHeader-email {
  color: rgba(255, 255, 255, 0.8);
}

.MenuHeader-name {
  font-size: 20px;
  padding-top: $size-increment * 3;
}

.MenuHeader-email {
  font-size: 14px;
  padding-top: $size-increment;
}
