.ActionButton {
  position: relative;
  cursor: pointer;
  height: 20px;
  top: 32px;
  &.extraPad {
    top: 40px;
  }
}

.ActionButton-svg {
  display: flex;
  align-items: center;
}

.ActionButton-createEvent {
  @include svg($create-event-url, 64px);
}

.ActionButton-createContact {
  @include svg($create-contact-url, 64px);
}

.ActionButton-createVendor {
  @include svg($create-vendor-url, 64px);
}

.ActionButton-createTask {
  @include svg($create-task-url, 64px);
}

.ActionButton-createAttachment {
  @include svg($create-attachment-url, 64px);
}

.ActionButton-label {
  color: $plannr-green;
  @include font($caption-font, 600, 0);
  padding-top: 4px;
  margin-left: -4px;
  width: $size-increment*10;
}
