.ActionButton {
  position: absolute;
  right: 48px;
  top: 248px;
  width: 64px;
  cursor: pointer;
}

.ActionButton-svg {
  display: flex;
  align-items: center;
}

.ActionButton-event {
  @include svg($create-event-url, 64px);
}

.ActionButton-label {
  color: $plannr-green;
  @include font($caption-font, 600, 0);
  position: absolute;
  padding-top: 4px;
  left: -4px;
}
