.Button {
  height: $btn-height-default;
  min-width: $btn-width-default;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.Button--raised {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 20px;
  font-size: $btn-font-size;
  text-align: center;
  &:active, &:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
  }
}

.Button--primary {
  color: #FFFFFF;
  background-color: $button-color;
  &:active, &:hover {
    background-color: $button-hover-color;
  }
  &:disabled {
    background-color: #000000;
    opacity: 0.2;
    box-shadow: none;
  }
}

.Button--secondary {
  color: #000000;
  background-color: $button-secondary-color;
  display: none;

  &:active, &:hover {
    background-color: $button-secondary-hover-color;
  }

  &.is-visible {
    display: block;

  }
}

.Button--simple {
  background-color: transparent;
  color: $black-three-fourths;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
  }
}

.Button--autocomplete {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  display: block;
}

.CreateTaskContainer,
.CreateEventContainer {
  position: fixed;
  bottom: 40px; right: 40px;
  cursor: pointer;
}

.Button--action {
  width: $btn-action-size;
  height: $btn-action-size;
  border-radius: 50%;
  background-color: $action-button-color;
  cursor: pointer;
}

.Button--actionIcon {
  width: inherit;
  height: inherit;
  position: relative;
}


.action {
  color: white;
  margin: 16px 14px;
}

.AttachmentBrowseContainer {
  margin: 0 auto;
}

.AttachmentBrowseContainer i {
  height: $btn-height-default;
}

.ClickableFileUploadButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ClickableFileUploadButton input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  //font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
}
