.Button {
  height: $btn-height-default;
  min-width: $btn-width-default;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.Button--raised {
  color: #FFFFFF;
  background-color: $button-color;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 20px;
  font-size: $btn-font-size;
  &:active, &:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
    background-color: $button-hover-color;
  }
}

.CreateEventContainer {
  position: fixed;
  bottom: 40px; right: 40px;
  cursor: pointer;

}

.Button--action {
  width: $btn-action-size;
  height: $btn-action-size;
  border-radius: 50%;
  background-color: $action-button-color;
  cursor: pointer;
}

.Button--actionIcon {
  width: inherit;
  height: inherit;
  position: relative;
}

.action {
  color: white;
  margin: 16px 14px;
}


// .Button--action {
//   height: 30px;
//   width: 52px;
//   background-color: $action-button-color;
//   position: relative;
//   border-radius: 2px;
//   &:before, &:after {
//     content: '';
//     width: inherit;
//     height: inherit;
//     position: absolute;
//     z-index: -1;
//     background-color: inherit;
//     border-radius: 2px;
//   }
//   &:before {
//     transform: rotate(60deg);
//   }
//   &:after {
//     transform: rotate(-60deg);
//   }
// }

// .Button--actionIcon {
//   position: absolute;
//   color: white;
//   margin-top: 3px; //icon size = 19x24
//   margin-left: 16.5px;
// }
