.Card {
  background-color: $body-bg;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  border-top: 5px solid $plannr-green;
  padding: $size-increment;
  height: 100%;
  animation-name: Card-enter;
  animation-duration: 0.5s;
}

@keyframes Card-enter {
  0% {transform: translateY(-50px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

.Card-title {
  @include font($body-1-font, normal, 0);
  padding: $size-increment*2;
  color: $black-three-fourths;
}

.Card-content {
  padding: $size-increment*2;
}

.IconWithText {
  @include font($body-1-font, normal, 20);
}

.CardIcon {
  font-size: 16px;
  padding: 16px 16px 16px 0;
}
