.EventComments-title {
  @include font($subheader-font, 600, 0);
  background-color: $header-bg;
  color: white;
  padding-left: $size-increment*4;
}

.EventComments {
  padding-left: $size-increment*10;
}

.Comments-input {
  padding: 24px 0 24px 24px;
  width: 70%;
}

.Comments-list {
  padding: 24px 0 0 24px;
  margin-right: 104px;
  margin-bottom: $size-increment;
}

.Comments-listItem {
  width: 100%;
  margin-bottom: $size-increment*2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.ListItem-header {
  display: flex;
  align-items: center;
  flex: 4;
}

.ListItem-title {
  display: flex;
  align-items: center;
  >* {
    padding-right: $size-increment*2;
  }
}

.ListItem-commenter {
  @include font($subheader-font, normal, 20);
  color: $black-half;
}

.ListItem-time {
  @include font($body-1-font, normal, 0);
  color: $black-quarter;
}

.ListItem-time,
.ListItem-commenter {
  padding-bottom: $size-increment;
}

.ListItem-headerMenu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: $size-increment*2;
}

.CommentClose {
  @include svg($close-url, 12px);
  opacity: 0.25;
  cursor: pointer;
}

.CommentIcon {
  padding: $size-increment*2;
  font-size: 24px;
}

.CommentMenuIcon {
  padding-right: $size-increment*2;
  font-size: 16px;
  &.locked {
    color: red;
  }
}

.CommentClose,
.CommentMenuIcon {
  opacity: 0.25;
  cursor: pointer;
}

.ListItem-text {
  @include font($body-1-font, normal, 0);
  color: $black-quarter;
  padding-bottom: $size-increment*2;
}
