.ContactModal {
  width: 700px;
  height: 600px;
  padding: $size-increment*4;
  position: relative;
}

.Modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  @include font(24px, 500, 0);
  opacity: 0.25;
  cursor: pointer;
}

.ContactModal-header {
  display: flex;
  align-items: center;
}

.ContactModal-headerIcon {
  font-size: 24px;
  color: $black-half;
}

.ContactModal-title {
  @include font(16px, normal, 100);
  padding-left: $size-increment*4;
  color: $black-half;
}

.ContactModal-content {
  display: flex;
  flex-flow: column nowrap;
  >* {
    flex: 1;
  }
}

.Panel {
  margin: $size-increment*2;
  background-color: $body-bg;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: $size-increment;
}

.Panel-title {
  @include font($title-font, normal, 0);
  padding: $size-increment*2;
  color: $black-three-fourths;
}

.IconWithText {
  color: $black-half;
}

.PanelIcon {
  font-size: 16px;
  padding: $size-increment*2;
}



