.ContactModal {
  width: 700px;
  height: 600px;
  padding: $size-increment*4;
  position: relative;
}

.Modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  @include font(24px, 500, 0);
  opacity: 0.25;
  cursor: pointer;
}

.ContactModal-header {
  display: flex;
  align-items: center;
}

.ContactModal-headerIcon {
  font-size: 24px;
  color: $black-half;
}

.ContactModal-title {
  @include font(16px, normal, 100);
  padding-left: $size-increment*4;
  color: $black-half;
}

.ContactModal-content {
  display: flex;
  flex-flow: column nowrap;
  >* {
    flex: 1;
  }
}

.IconWithText {
  color: $black-half;
}


