.CurrencyInput {
  @extend .FormInput;
}

.CurrencyInput-icon {
  font-size: 20px;
  opacity: 0.2;
  padding-right: $size-increment*2;
}

.CurrencyInput-field {
  display: flex;
  align-items: center;
}
