::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-year-field[aria-valuetext=blank],
::-webkit-datetime-edit-text,
::-webkit-time-edit-text, {
  color: rgba(0,0,0,0.26);
}
::-webkit-inner-spin-button,
::-webkit-clear-button {
  display: none; -webkit-appearance: none;
}

::-webkit-datetime-edit-text {
  padding: 0 8px;
}

::-webkit-calendar-picker-indicator {
  background: none; color: $black-quarter;
  font-size: em($caption-font);
  margin-left: 2px;
  transition: .4s;
}

input[type="date"] {
  width: $grid-increment * 2 + $caption-font + 8px;
}
