.DropdownMenu {
  position: relative;

}

.DropdownMenu-options {
  position: absolute;
  background-color: $body-bg;
  z-index: $profile-menu-z-index;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column nowrap;
  &.default {
    width: 300px;
  }
  &.is-leftAligned {
    left: 0;
  }
  &.is-rightAligned {
    right: 0;
  }
  &.is-fullWidth {
    position: relative;
    width: 100%;
  }
}

.DropdownMenu-item {
  color: $black-three-fourths;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 24px;
  &.compact {
    padding: 8px;
    @include font($body-1-font, normal, 0);
  }
  &:hover {
    background-color: #cccccc;
    cursor: pointer;
  }
  &.active {
    opacity: 0.5;
  }
  >* {
    flex: 1;
  }
}

.DropdownMenu-optionsHeader {
  color: $black-quarter;
  padding: 16px 8px 8px 24px;
}
