.EntityModal {
  width: 700px;
  padding: $size-increment*4;
  position: relative;
  background-color: $modal-bg;
}

.AddEntityModal {
  @extend .EntityModal;
  height: 400px;
  width: 500px;
  transition: height 0.2s linear;
}

.EntityModal-header {
  display: flex;
  align-items: center;
  padding-right: $size-increment*4;
}

.EntityModal-headerIcon {
  font-size: 24px;
  color: $black-half;
}

.EntityModal-title {
  @include font(16px, normal, 50);
  padding-left: $size-increment*4;
  color: $black-half;
}

.EntityModal-content {
  display: flex;
  flex-flow: column nowrap;
  margin: $size-increment*2 $size-increment*2 0 0;
  >* {
    flex: 1;
  }
}

.IconWithText {
  display: flex;
  align-items: center;
  color: $black-half;
}
