.EntityModal {
  padding: $size-increment*4;
  position: relative;
  background-color: $modal-bg;
  width: 700px;
  height: 100%;
}

.AddEntityModal {
  @extend .EntityModal;
  height: 200px;
  width: 500px;
  transition: height 0.2s linear;
  .Modal-dialog & {
    overflow: visible;
  }
}

.EntityModal-header {
  display: flex;
  align-items: center;
  padding-right: $size-increment*4;
}

.EntityModal-headerIcon {
  font-size: 24px;
  color: $black-half;
}

.EntityModal-title {
  @include font($headline-font, bold, 50);
  padding-left: $size-increment*4;
  color: $black-half;
}

.EntityModal-content {
  margin: $size-increment*2 $size-increment*2 0 0;
}

.IconWithText {
  display: flex;
  align-items: center;
  color: $black-half;
}
