.ExpenseContainer {
  display: flex;
  width: 100%;
}

.ExpenseDetails {
  padding: $size-increment*3 0 0 $size-increment*3;
  flex: 1;
}

.ExpenseActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: $size-increment*3 $size-increment*10;
}

.ExpenseCard {
  margin-bottom: $size-increment*4;
  & .Header {
    width: 100%;
    background-color: #D0D0D0;
    padding: $size-increment $size-increment*2;
    @include font($title-font, bold, 10);
    display: flex;
    & .Total {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: $size-increment * 2;
      & .Display {
        color: $black-half;
        @include font($body-1-font, bold, 20);
      }
      & .Content {
        padding-left: $size-increment;
        @include font($body-1-font, 500, 20);
      }
    }
  }
  & .Info {
    display: flex;
    align-items: center;
    padding: $size-increment $size-increment*2;
    & .Display {
      flex: 1;
      @include font($body-1-font, bold, 20);
      color: $black-quarter;
    }
    & .Content {
      @include font($body-1-font, normal, 0);
      flex: 5;
    }
  }
}


