.FormInput {
  width: 100%;
  height: $input-height-with-label;
  padding-top: $input-ptop;
  padding-bottom: $input-pbottom;
  &-textarea {
    height: $grid-increment * 2;
  }
  & label {
    display: block;
    padding-bottom: $size-increment;
    color: $black-half;
    @include font($caption-font, normal, 20);
  }

  & textarea {
    @include font($subheader-font, normal, 10);
    width: 100%;
    background-color: transparent;
    border: 1px none transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    resize: none;
    height: $grid-increment;
  }
}

.FormInput-field {
  @include font($subheader-font, normal, 10);
  width: 100%;
  background-color: transparent;
  color: #000000;
  border: 1px none transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: $input-field-pbottom;
  &:focus {
    border: 1px none transparent;
    border-bottom: 2px solid #00bea4;
  }
  &.is-invalid {
    border-bottom: 2px solid red;
  }
  &:disabled {
    color: rgba(0,0,0,0.26);
  }
}

.FormInput-fieldErrorMessage {
  color: red;
  @include font($caption-font, normal, 0);
}

.SearchInput {
  @extend .FormInput-field;
  width: 400px;
}

