.FormInput {
  width: 100%;
  height: $input-height-computed;
  background-color: transparent;
  line-height: $line-height-factor-default;
  padding-top: $input-padding-vertical;
  padding-bottom: $input-padding-vertical / 2;
  font-size: $default-font-size;
  color: #000000;
  margin-bottom: 8px;
  border: 1px none transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  &:focus {
    border: 1px none transparent;
    border-bottom: 2px solid #00bea4;
  }
  &.is-invalid {
    border-bottom: 2px solid red;
  }
}

.FormInput-errorMessage {
  color: red;
  font-size: em(12);
}

