.FormInput {
  width: 100%;
  height: $input-height-with-label;
  padding-top: $input-ptop;
  padding-bottom: $input-pbottom;
  &-textarea {
    height: $grid-increment * 2 + 44px;
  }
  & label {
    display: block;
    padding-bottom: $size-increment;
    color: $black-half;
    @include font($caption-font, normal, 20);
  }

  & textarea {
    @include font($subheader-font, normal, 10);
    width: 100%;
    background-color: transparent;
    border: 1px none transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    resize: none;
  }
}

.FormInput-field {
  @include font($subheader-font, normal, 10);
  width: 100%;
  background-color: transparent;
  color: #000000;
  border: 1px none transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: $input-field-pbottom;
  &:focus {
    border: 1px none transparent;
    border-bottom: 2px solid #00bea4;
  }
  &.is-invalid {
    border-bottom: 2px solid red;
  }
  &:disabled {
    color: rgba(0,0,0,0.26);
  }
}

.FormInput-fieldErrorMessage {
  color: red;
  @include font($caption-font, normal, 0);
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}


.SearchInput {
  @extend .FormInput-field;
  width: 400px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  &:focus {
    border-bottom: 2px solid #00bea4;
  }
  &:-moz-placeholder {color: white;}
  &::-webkit-input-placeholder {color: white;}
  &::-moz-placeholder          {color: white;}
  *:-ms-input-placeholder      {color: white;}
}


