.MenuList {
  padding: $size-increment;
}

.MenuList-item {
  display: flex;
  font-weight: 200;
  padding-top: $size-increment * 4;
  padding-left: $size-increment * 3;
  &:hover {
    color: $black-half !important;
    cursor: pointer;
  }
  &.is-selected {
    font-weight: 700;
    color: $black-quarter;
  }
}

.MenuList-text {
  padding-left: $size-increment * 3;
}


