.MenuList {
  background-color: $body-bg;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: $size-increment*3;
}

.MenuList-item {
  display: flex;
  padding-top: $size-increment * 4;
  @include font($body-1-font, normal, 0);
  &.active {
    font-weight: 600;
    opacity: 0.5;
  }
  &:hover {
    opacity: 0.5;
  }
}

.MenuList-icon {
  flex: 1;
  font-size: 20px;
}

.MenuList-text {
  flex: 3;
}

.MenuList-companyName {
  @include font($subheader-font, 600, 25);
  color: $black-three-fourths;
}
