.Modal-dialog {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
  z-index: $dialog-box-z-index;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  width: 700px;
  margin: 48px 0 70px;
  animation-name: center-transition;
  animation-duration: 0.2s;
}

@keyframes center-transition {
  0% {transform: scale(0.5); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

.Modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  opacity: 0.25;
  cursor: pointer;
}

.Modal-closeIcon {
  @include svg($close-url, 24px);
}

