.PageHeaderContainer {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: $page-header-height;
  background-color: $header-bg;
  >* {
    flex: 1 100%;
    display: flex;
  }
}

.PageHeader-appBar {
  justify-content: flex-end;
  padding-right: $size-increment * 4;
  padding-top: $size-increment * 4;
}

.PageHeader-title {
  font-size: $page-header-name-size;
  font-weight: $page-header-name-weight;
  line-height: $page-header-name-lh;
  color: white;
  padding: 32px 0 32px 80px;
}

.PageHeader-search {
  color: $white-quarter;
}


