.PageHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-bg;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: $page-header-z-index;
  &.tasks {
    background-color: $plannr-green;
  }
  &.vendors {
    background-color: $plannr-blue;
  }
  &.contacts {
    background-color: $plannr-teal;
  }
}

.PageHeader-title {
  @include font($display-font, normal, 0);
  color: white;
  padding-left: 80px;
  font-size: 20px;
}

.PageHeader-profile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}
