@media (min-width: $small-screen+1) {
  .PageHeader-appBar {
    margin-right: ($grid-increment*4);
  }
}

.PageHeader-appBar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  height: 64px;
}

.PageHeader-title {
  @include font($display-font, normal, 0);
  flex: 1;
  color: white;
  padding-left: 80px;
  padding-top: 80px;
}

.PageHeader-appBarItem {
  color: $white-quarter;
  margin: auto 0;
  padding-left: 8px;
}

//main div in PageHeader react component
#mainHeader {
  z-index: $page-header-z-index;
  height: 64px;
}

#mainTitle {
  padding-top: 0px;
  font-size: 20px;
  margin: auto;

}
