.Panel {
  margin: $size-increment*2;
  background-color: $body-bg;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  padding: $size-increment;
  animation-name: panel-enter;
  animation-duration: 0.5s;
}

@keyframes panel-enter {
  0% {transform: translateY(-50px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

.Panel-title {
  @include font($title-font, normal, 0);
  padding: $size-increment*2;
  color: $black-three-fourths;
}

.PanelIcon {
  font-size: 16px;
  padding: $size-increment*2;
}
