.Show {
  width: 100%;
}

.Show-header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  >* {
    flex: 1;
  }
}

.Show-nav {
  display: flex;
  align-items: center;
  >* {
    padding: $size-increment*5;
  }
}

.Show-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: $size-increment*15;
}

.ShowHeaderIcon {
  opacity: 0.4;
  font-size: 24px;
}

.Show-name {
  @include font($headline-font, normal, 10);
}

.Show-content {
  padding: 0 80px;
  display: flex;
  flex-flow: column nowrap;
}

.BackIcon {
  opacity: 0.25;
  @include svg($back-arrow-url, 24px);
}
