.Show {
  width: 100%;
  padding-bottom: 16px;
}

.Show-header {
  display: flex;
  >* {
    flex: 1;
  }
  &.is-contact {
    background-color: $plannr-teal;
  }
  &.is-vendor {
    background-color: $plannr-blue;
  }
}

.Show-nav {
  display: flex;
  align-items: center;
  color: white;
  >* {
    padding: $size-increment*5;
  }
}

.Show-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: $size-increment*15;
}

.ShowHeaderIcon {
  opacity: 0.7;
  font-size: 24px;
  color: white;
}

.Show-name {
  @include font($headline-font, normal, 10);
}

.Show-content {
  padding: 0 80px;
  display: flex;
  flex-flow: column nowrap;
}

.BackIcon {
  opacity: 0.5;
  color: white;
  @include svg($back-arrow-url, 24px);
}
