.TableSort-display {
  display: flex;
  >* {
    padding-right: $size-increment;
  }
}

.TableSort-orderDisplay {
  @include font($body-1-font, 600, 0);
  color: rgba(255,255,255,0.8);
}

.TableSortMenu {
  width: 400px;
}
.TableSortMenu-itemOrder {
  font-size: $body-1-font;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 $size-increment;
  opacity: 0.5;
  color: $black-three-fourths;
}
