.TableContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: $size-increment*2;
}

.Table-toolbar {
  padding: $size-increment*4 $size-increment*3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  &.extraPad {
    padding: $size-increment*5 $size-increment*6;
  }

}

.Toolbar-actionButton {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  height: 20px;
}

.Toolbar-items {
  display: flex;
  flex-flow: row nowrap;
  flex: 6;
  >* {
    padding-right: $size-increment*2;
  }
}

.Table-data {
  width: 90%;
  padding-top: $size-increment*2;
  padding-right: $size-increment;
  &.scrollable {
    height: 350px;
    overflow-y: auto;
  }
  &.extraPad {
    padding-left: $size-increment*3;
  }
}

.Table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: $size-increment * 2;
  &-header {
    display: flex;
    align-items: center;
    @include font($body-1-font, 600, 10);
    color: $black-half;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  &-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include font($body-1-font, normal, 0);
    color: $black-half;

    &Item {
      text-align: left;
      flex: 1;
      padding: $size-increment*2;
    }
    &:hover .Checkbox-check {
      display: block;
    }
    &.selected {
      transition: all 0.5s;
      background-color: $plannr-teal;
      color: $white-three-fourths;
    }
    &.task-selected {
      transition: all 0.5s;
      background-color: $plannr-green;
      color: $white-three-fourths;
    }
  }
  &-checkbox {
    padding-left: $size-increment*3;
    width: 25px;
  }
}

.Table-action {
  width: 18px;
}

.TableRow-actions {
  width: 150px;
}

.Table-actionTrigger {
  display: flex;
  justify-content: center;
  width: 18px;
}

.TableRowAction {
  font-size: 18px;
}

.TaskTableRow-enter {
  opacity: 0.01;
  transition: all .5s ease-in;
}

.TaskTableRow-enter.TaskTableRow-enter-active {
  opacity: 1;
}

.TaskTableRow-leave {
  opacity: 1;
  transition: all .5s ease-in;
}

.TaskTableRow-leave.TaskTableRow-leave-active {
  opacity: 0.01;
}



