.TableContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.Table-toolbar {
  display: flex;
  flex-flow: row nowrap;
  padding: $size-increment*4 $size-increment*2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  &.extraPad {
    padding: $size-increment*5 $size-increment*6;
  }
  >* {
    padding-right: $size-increment*2;
  }
}

.Table-data {
  width: 90%;
}

.Table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: $size-increment * 2;
  &-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &Item {
      text-align: left;
      flex: 1;
      padding: $size-increment * 3;
    }
  }
}
