.TableContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.Table-toolbar {
  display: flex;
  flex-flow: row nowrap;
  padding: $size-increment*4 $size-increment*3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  &.extraPad {
    padding: $size-increment*5 $size-increment*6;
  }
  >* {
    padding-right: $size-increment*2;
  }
}

.Table-data {
  width: 90%;
  padding-top: $size-increment*2;
}

.Table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: $size-increment * 2;
  &-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include font($body-1-font, normal, 0);
    color: $black-half;
    &.extraPad {
      padding-left: $size-increment*3;
    }
    &Item {
      text-align: left;
      flex: 1;
      padding: $size-increment*2;
    }
    &:hover .Checkbox {
      display: block;
    }
    &:hover {
      background-color: rgba(0,0,0,0.15);
    }
    &.selected {
      transition: all 0.5s;
      background-color: $plannr-teal;
      color: $white-three-fourths;
    }
    &-enter {
      opacity: 0.01;
      transition: opacity .2s;
      &-active {
        opacity: 1;
      }
    }
  }
  &-checkbox {
    padding-left: $size-increment*3;
  }
}
