.TopMenu {
  height: 72px;
  width: 100%;
  background-color: #f9f9f9;
  position: fixed;
  z-index: 10000;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
}

.TopMenu-logo {
  flex: 1;
  margin-left: 16px;
  cursor: pointer;
}

.TopMenu-itemContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.TopMenu-item {
  font-family: Volte-semibold;
  padding-right: 24px;
  font-size: 18px;
}

.TopBar {
  height: 100px;
  width: 100%;
  background: linear-gradient(to right, #00BFA5, #7E57C2);
}

@media (min-width: 701px) {
  .TopMenu-logo {
    @include svg(url(plannr_logo.svg), 10em);
  }
}

@media (max-width: 700px) {
  .TopMenu-logo {
    @include svg(url(plannr_logo.svg), 5em);
  }
}
