.Verification {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.Verification-text {
  @include font($title-font, normal, 0);
  padding: 64px 0 24px 0;
}

.Verification-btn {
  padding: 24px;
}
