.header {
	@include linear-gradient(left, $start_grad, $end_grad);
	display: flex;
  justify-content: space-between;
	border-bottom: 5px solid $white-quarter;
  height: 100px;
}

.header-menu {
  margin: auto 20px auto auto;
}

.header-logo {
  @include logo(50px);
  margin: auto auto auto 20px;
}

.icon-large {
  font-size: 30px;
}

.main-content {
  display: flex;
  height: 1500px;
	.left {
    flex: 1;
    background-color: $left-menu-back;
	}
	.right {
		flex: 3;
    background-color: $right-menu-back;
	}
}
