@font-face {
  font-family: 'Roboto-Regular';
  src: asset-url('RobotoTTF/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: asset-url('RobotoTTF/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: asset-url('RobotoTTF/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: asset-url('RobotoTTF/Roboto-Medium.ttf') format('truetype');
}

@font-face {font-family: 'Volte-Regular';src: asset-url('Volte/2DCF8A_1_0.eot');src: asset-url('Volte/2DCF8A_1_0.eot?#iefix') format('embedded-opentype'),asset-url('Volte/2DCF8A_1_0.woff2') format('woff2'),asset-url('Volte/2DCF8A_1_0.woff') format('woff'),asset-url('Volte/2DCF8A_1_0.ttf') format('truetype');}
