// this is used for font-awesome
$fa-font-path: "font-awesome/fonts/";
@import "normalize.css/normalize";
@import "font-awesome/scss/font-awesome";

// custom
@import "variables/_variables";
@import "mixins/_mixins";
@import "components/_components";
@import "molecules/_molecules";
@import "containers/_containers";
@import "utils";
@import "fonts";

body {
  background-color: $body-bg;
  font-family: 'Roboto-Regular', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  height: 100% !important;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
    outline: 0;
}

i, .icon {
  font-size: 24px;
}

.icon {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
