.menu-container {
	@include outer-container;
	.menu-header {
		@include span-columns(12);
		@include omega();
		font-size: 1.5em;
		padding: 20px 0 10px 30px;
		color: $white-three-fourths;
		border-bottom: 1px solid $white-quarter;
	}
	.menu-item-container {
		@include span-columns(12);
		padding: 1.5em;
		.menu-item {
			color: $white-three-fourths;
			border-top: 1px solid $white-quarter;
			padding: 10px 10px 10px 30px;
			font-size: 20px;
			&:hover {
				color: #ffffff;
				background-color: $white-quarter;
				cursor: pointer;
			}
			.icon-pad {
				color: $menu-icon;
				margin-right: 1.5em;
			}
		}
	}
}
