.form {
	width: 100%;
	background-color: $plannr-secondary-bg;
 	.form-header {
 		height: 10px;
 		background-color: $plannr-green;
 		width: 100%;
 	}
 	.form-content {
 		padding: 10px;
 	}
}

.form-input {
	width: 100%;
	background-color: #E5E5E5;
	height: $input-height-computed;
	line-height: $default-line-height;
	padding: $input-padding-vertical $input-padding-horizontal;
	font-size: $default-font-size;
}
