@for $i from 1 through 10 {
  .u-flexGrow-#{$i} {
    flex-grow: $i;
  }
}

.u-clickable {
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}

.u-italics {
  font-style: italic;
}

.u-bold {
  font-weight: 700;
}
