$logo-name: img-url('logo.svg');
$contact-tile-url: img-url('Contact_Tile.svg');
$task-tile-url: img-url('Task_Tile.svg');
$vendor-tile-url: img-url('Vendor_Tile.svg');
$attachment-tile-url: img-url('Attachment_Tile.svg');
$arrow-tile-hover-url: img-url('Arrow_Tile_Hover.svg');
$create-event-url: img-url('hex-create_event.svg');
$create-contact-url: img-url('hex-create_contact2.svg');
$create-vendor-url: img-url('hex-create_vendor.svg');
$create-task-url: img-url('hex-create_task.svg');
$create-attachment-url: img-url('hex-create_attachment.svg');
$back-arrow-url: img-url('arrow-black.svg');
$close-url: img-url('x-black.svg');
