@font-face {
  font-family: 'Roboto-Regular';
  src: af-url('RobotoTTF/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: af-url('RobotoTTF/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: af-url('RobotoTTF/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: af-url('RobotoTTF/Roboto-Medium.ttf') format('truetype');
}

@font-face {font-family: 'Volte-Regular';src: af-url('Volte/2DCF8A_1_0.eot');src: af-url('Volte/2DCF8A_1_0.eot?#iefix') format('embedded-opentype'),af-url('Volte/2DCF8A_1_0.woff2') format('woff2'),af-url('Volte/2DCF8A_1_0.woff') format('woff'),af-url('Volte/2DCF8A_1_0.ttf') format('truetype');}

@font-face {font-family: 'Volte-Semibold';src: af-url('Volte/2DCF8A_0_0.eot');src: af-url('Volte/2DCF8A_0_0.eot?#iefix') format('embedded-opentype'),af-url('Volte/2DCF8A_0_0.woff2') format('woff2'),af-url('Volte/2DCF8A_0_0.woff') format('woff'),af-url('Volte/2DCF8A_0_0.ttf') format('truetype');}
