@for $i from 1 through 10 {
  .u-flexGrow-#{$i} {
    flex-grow: $i;
  }
}

.u-flex {
  display: flex;
  >* {
    flex: 1;
  }
}

.u-clickable {
  cursor: pointer;
}

.u-clickableOnHover {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.u-italics {
  font-style: italic;
}

.u-bold {
  font-weight: 700;
}

.u-hidden {
  display: none;
}

.u-dim {
  opacity: 0.5;
}

.u-checkboxHidden {
  position: fixed;
  bottom: 0;
  clip: rect(0,0,0,0);
}

.u-noScroll {
  overflow: hidden;
}

.u-flexEnd {
  display: flex;
  justify-content: flex-end;
}

.u-noBorder {
  border: none;
  &:focus {
    border: none;
  }
}

.u-noMargin {
  margin: 0;
}

.u-noPadding {
  padding: 0;
}

.u-wrapWithEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

