<!DOCTYPE html>
<html>
<head>
  <title>Plannr Dasboard - Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  blah = function(e) {
  	alert("test");
  }
</script>

<paper-tabs selected="{{selected}}">
  <paper-tab>Dashboard</paper-tab>
  <paper-tab>Tasks</paper-tab>
  <paper-tab>Messages</paper-tab>
</paper-tabs>

<core-pages selected="{{selected}}" >
  <div>Dashboard</div>
  <div>Tasks</div>
  <div>Messages</div>
</core-pages>


</body>
</html>
